<% include ../views/menubar%>
  <link rel="stylesheet" href="../stylesheets/tailwind.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />

  </head>

  <body>

    <div class="px-6">
      <section class="bg-white dark:bg-gray-900">
        <div class="py-2 px-4 max-w-2xl">
          <h1 class="px-2 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl md:text-6xl dark:text-white">Profile</h1>  
          <div class="flex gap-6 py-6">
            <img class="w-24 h-24 rounded-full" src="../uploads/<%= data.profilepic %>">

                <div class="leading-5 flex flex-col">
                  <h4 class="font-bold text-black text-2xl mb-2"><%= data.name %></h4>
                  <span class="text-xl"><%= data.username %></span>
              </div>
          </div>
        </div>
      </section>
  
      <div class="px-4 py-6">
        
        <h2 class="mb-4 mx-auto text-2xl font-bold text-gray-900 dark:text-white">Posts</h2>
        <% if(data.post.length> 0){ %>
          <div class="flex flex-wrap gap-3">
            <% data.post.reverse().forEach(function(elem){ %>
          <div class="py-2">
            <div class="sha bg-white grid h-full w-96 mb-5 rounded rounded-md">
              <div class="py-3">
                  <img src="<%= elem.imageurl%>" class="w-full h-72">
              </div>
  
              <div class="font-normal px-2 text-black">
                  <p><%= elem.caption %></p>
              </div>
  
              <div class="flex gap-2 pb-6 pt-3 px-2">
                  <img src="https://rvs-accountable-social-media-feed.vercel.app/assets/Comments.svg" class="w-6" >
                  <button><span class="mr-6"><%= elem.comment.length %> comments</span></button>
                  <img src="https://rvs-accountable-social-media-feed.vercel.app/assets/Reaction.svg" class="w-6" >
                  <a href="/likes/<%= elem._id %>">
                      <span><%= elem.likes.length %> likes</span></a>
                  </a>
              </div>
          </div>
          </div>
  
          <% }) %>
          </div>
          <% }else{ %>
            <h1 id="nopost">No posts added.</h1>
            <% } %>



      </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
  </body>

  </html>