<% include ../views/menubar%>
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <link rel="stylesheet" href="../stylesheets/tailwind.css">
    <link rel="stylesheet" href="../uploads/user.jpg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />


    </head>

    <body>

        <div id="main">

            <h1 class="mb-4 ml-6 px-6 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl">Feeds</h1>
            <div id="posts-column">
                    <% if(data.length> 0){ %>
                        
                        <% data.reverse().forEach(function(elem){ %>
    
                    <div class="sha bg-white grid h-full mb-5 rounded rounded-md">
                        <div class="align-middle flex justify-between pt-5 px-7">
                            <div class="flex gap-4 px-2">
                                <% elem.author.forEach(function(dets){ %>
                                <img src= "../uploads/<%= dets.profilepic %>" class="w-12 h-12 rounded-full">
                                <% }) %>
    
                                <div class="leading-5">
                                    <h4 class="font-bold text-black"><%= elem.user %></h4>
                                    <span><%= elem.location %></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="py-3">
                            <img src="<%= elem.imageurl%>" >
                        </div>
        
                        <div class="font-normal px-2 text-black">
                            <p><%= elem.caption %></p>
                        </div>
        
                        <div class="flex gap-2 pb-6 pt-3 px-2">
                            <img src="https://rvs-accountable-social-media-feed.vercel.app/assets/Comments.svg" >
                            <button><span class="mr-6"><%= elem.comment.length %> comments</span></button>
                            <img src="https://rvs-accountable-social-media-feed.vercel.app/assets/Reaction.svg" >
                            <a href="/likes/<%= elem._id %>">
                                <span><%= elem.likes.length %> likes</span></a>
                            </a>
                        </div>

                       
                            <div id="postcmnts" class="bg-white px-2">
                                <form action="/comment/<%= elem._id %>" method="post">
                                    <input id="input" name="comment" type="text" placeholder="Write Comment.....">
                                    <button>POST</button>
                                </form>
        
                                <div id="cmnts">
                                    <% elem.comment.forEach(function(lolo){ %>
                                        <div id="box">
                                            <div id="box1">
                                                <h3><%= lolo.cmtuser %>:</h3>
                                            </div>
                                            <div id="box2">
                                                <h4><%= lolo.comment %></h4>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                    </div>

                    
    
                    <% }) %>
                    <% }else{ %>
                        <h1 id="nopost">No post created</h1>
                        <% } %>
    
            </div>

            

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    </body>
    </html>